@import "tailwindcss";

@keyframes slow-zoom {

  0%,
  100% {
    transform: scale(1.1);
  }

  50% {
    transform: scale(1.15);
  }
}

.animate-slow-zoom {
  animation: slow-zoom 20s ease-in-out infinite alternate;
}

@keyframes gradient-x {

  0%,
  100% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }
}

.animate-gradient-x {
  background-size: 200% 200%;
  animation: gradient-x 15s ease infinite;
}

body {
  font-family: var(--font-sora), system-ui, sans-serif;
}